@use '../global/variables.scss';

.button-close {
    position: relative;
    width: 26px;
    height: 26px;
    background-image: url("/public/svg/button-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(variables.$absolute-white, 0.1);
    border: none;
    border-radius: 75px;
    cursor: pointer;
}