@use '../global/variables.scss';
@use '../global/mixins.scss';


.clients__inner-wrap {
    background-image: url("/public/svg/star.svg");
    background-repeat: no-repeat;
    padding-top: 20px;
    background-position: 16px 0;
    margin-bottom: 60px;
}

.clients__title {
    margin: 0 0 6px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: variables.$absolute-white;
}

.clients__paragraph {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
}

.clients__list {
    display: grid;
    gap: 20px;
    margin: 0;
    padding: 0 0 30px 0;
}

.clients__item {
    list-style: none;
    padding: 29px;
    border-radius: 10px;
    border: 1px solid variables.$grey-15;
}
.clients__stars-wrap {
    display: flex;
    padding: 0;
    gap: 8px;
    margin-bottom: 24px;
    
}
.clients__star {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    list-style: none;
    position: relative;
    border: 1px solid variables.$grey-15;
    background-color: variables.$grey-10;

    &::before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        background-image: url("/public/svg/clients-blog-gold-star.svg");
        background-repeat: no-repeat;
        top: 50%;  
        left: 6px;                      
        transform: translate(0, -50%);
    }
}

.clients__review-title {
    margin: 0;
    @include mixins.smal-title(18px);
    margin-bottom: 6px;
}

.clients__review-text {
    color: variables.$absolute-white;
    margin: 0 0 24px 0;
}

.clients__author-review-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.clients__author-img {
    min-width: auto;
    width: 50px;
    display: block;
    height: 50px;
    border-radius: 100%;
    object-fit: none;
   
}

.clients__author-name {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;

}

.clients__author-residence {
    display: block;
}