@use '../global/variables.scss';

.footer {
}
.footer__main-logo {
    display: block;
    width: 113px;
    height: 34px;
    margin-bottom: 20px;
}

.footer__form {
    margin-bottom: 50px;
}

.footer__label {
    position: relative;
    &::before {
        content: "";
        display: block;
        left: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url("/public/svg/mail.svg");
    }

    &::after {
        content: "";
        display: block;
        right: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url("/public/svg/telegram.svg");
    }


}

.footer__input-mail {
    width: 100%;
    padding: 14px 47px;   
    background-color: transparent;
    color: variables.$absolute-white;
    border-radius: 8px;
    border: none;
    outline: 1px solid variables.$grey-15;



}
.footer__list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 40px 20px; /* Расстояние между колонками и строками */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; 
   
}
.footer__list-element {
    display: inline-block;
    list-style: none;
  
}
.footer__title {
    margin: 0 0 16px 0;
}
.footer__menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__menu-element {
    width: 158px;
    list-style: none;
    
}
.footer-maim__menu-link {
    text-decoration: none;
    color: variables.$absolute-white;
}


  
.footer__bottom {
}
.footer__copyright-wrap {
}
.footer__copyright {
}
.footer__list-links {
}
.footer__item {
}