/* здесь используйте глобальные селекторы img, body, html и так далее*/
@use 'fonts.scss';
@use 'variables.scss';

body {
    font-family: fonts.$primary-font, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
    color: variables.$grey-60;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .page {
    height: 100%;
  }
  
  .page__body {
    display: grid;
    min-height: 100%;
    background-color: variables.$grey-08;
    grid-template-rows: min-content 1fr min-content;
  }
  
  img {
    min-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hidden {
    display: none;
  }

  .container {
    width: 390px;
    margin: 0 auto;
    padding: 0 16px;
    @media (min-width: variables.$tablet-width) {
      width: 768px;
      padding:  0 80px;
      
    }
  
    @media (min-width: variables.$desktop-width) {
      width: 1440px;
      padding:  0 162px;
    }

  }