@use "sass:map";

$colors: (
  "absolute": (
    "white": #ffffff,
    "black": #000000,
  ),

  "purple": (
    60: #703bf7,
    65: #8254f8,
    70: #946cf9,
    75: #a685fa,
    90: #dbcefd,
    95: #ede7fe,
    97: #f4f0fe,
    99: #fbfaff,
  ),

  "grey": (
    8: #141414,
    10: #1a1a1a,
    15: #262626,
    20: #333,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
  ),

  "white": (
    90: #e4e4e7,
    95: #f1f1f3,
    97: #f7f7f8,
    99: #fcfcfd,
  ),
);

$breakpoints: (
  mobile: 320px,
  tablet: 768px,
  laptop: 1440px,
  desktop: 1920px,
);

:root {
  @each $group, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$group}-#{$shade}: #{$value};
    }
  }

  --container-width: 1920px;
  --container-padding: clamp(16px, 10vw, 145px);
}
